/* Custom style for mCarousel */
.mCarousel-wrapper {
  float: left;
}
/* list items width to change */
.mCarousel li {
  width: 60px; 
  float: left;
  list-style-type: none;
}
/* Same for controls */
.prev, .next {
  position: relative;
  top: 20%;
  width: 30px;
}
.prev { float: left; }
.next { float: left; }